@import "variables";

body
{
    min-width: 320px;
    color: $mainFontColor;
}

.text-dark {
    color: $mainColor;
}

.feedback-form
{
    margin: 0 auto;

    label
    {
        display: block;
        width: 100%;
    }

    .label-title
    {
        display: block;
        margin-bottom: 5px;
    }

    .submit-button
    {
        width: 100%;
    }
}

.icon
{
    display: inline-block;
}

.section
{
    padding-top: 30px;
    padding-bottom: 20px;

    &.dark {
        background-color: $mainColor;
        color: #ffffff;
    }
}

.section-title
{
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
    font-weight: 500;

    &.red
    {
        color: #f01420;
    }
}

.section-subtitle
{
    text-align: center;
    margin-bottom: 30px;
}

.gallery {
    text-align: center;

    img {
        transition: .3s;
        display: inline-block;

        &:hover {
            transform: scale(1.03);
        }
    }
}

.gallery-image
{
    max-width: 100%;
    height: auto;
}

.gallery-item
{
    display: inline-block;
    cursor: pointer;
    margin-bottom: 30px;
}

.movie-link
{
    position: relative;

    img
    {
        opacity: .7;
    }

    &:hover
    {
        img
        {
            opacity: 1;
        }
    }

    .icon-youtube
    {
        position: absolute;
        top: calc(50% - 19px);
        left: calc(50% - 28px);
        z-index: 2;
    }
}

.article
{
    font-size: 18px;
    text-align: justify;

    p
    {
        margin: 16px 0;
    }
}