@import "variables";

.header
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 0 20px 20px -22px #111;
}

.banner
{
    color: #fff;
    padding: 70px 0;
    background-size: cover;
    background-position: center 80%;
    position: relative;

    &:before
    {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
        position: absolute;
        z-index: 1;
    }

    & > .container
    {
        position: relative;
        z-index: 2;
    }
}

.banner-title
{
    font-size: 55px;
}

.banner-subtitle
{
    font-size: 25px;
    display: inline-block;
}

.banner-form
{
    padding: 10px 15px;
    margin: 0 auto;
    color: #fff;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, .7);
    border-radius: 6px;
    background-color: $mainColor;

    .title
    {
        font-weight: 500;
        font-size: 22px;
    }

    .title,
    .subtitle
    {
        text-align: center;
    }

    .submit-button
    {
        margin-top: 15px;
        width: 100%;
    }

    .form-control
    {
        border-radius: 5px;
        font-size: 18px;
    }

    .form-group
    {
        margin-bottom: 5px;
    }
}

.logo-container
{
    display: inline-block;
    width: 100%;
    max-width: 250px;

    img
    {
        width: 100%;
    }
}

.address
{
    font-size: 14px;
    display: inline-block
}

.phone-link
{
    color: #333;
    font-size: 20px;
    display: inline-block;

    &:hover
    {
        color: $mainColor;
        text-decoration: none;
    }
}

.main-advantages
{
    list-style-type: none;
    padding-left: 0;
    margin-top: 45px;
    margin-bottom: 45px;
}


.advantages-list-item
{
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;

    .icon
    {
        position: absolute;
        top: 8px
    }
}


.map-container
{
    height: 400px;
    position: relative;
}

.navbar-nav
{
    .nav-item
    {
        font-size: 18px;

        .nav-link
        {
            color: #333333;

            &:hover
            {
                color: $mainColor;
                text-decoration: underline;
            }
        }
    }
}

.footer
{
    .phone-link
    {
        color: #ffffff;
    }
}

.advantage
{
    display: flex;
    padding-bottom: 20px;
}

.advantage-title
{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.35;
}

.advantage-description
{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.55;
}

.advantage-block
{
    padding-left: 10px;
}

.advantage-icon
{
    padding-top: 9px;

    img
    {
        width: 40px;
        height: 40px;
    }
}

.action-input
{
    display: none;
}

.list-container
{
    padding-left: 22px;
    display: inline-block;

    .main-item
    {
        font-weight: 700;
        color: $mainColor;
    }
}

.preloader
{
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}

.image-description
{
    border-radius: 10px;
    min-height: 240px;
    display: block;
    margin: 6px auto 0;
}

.sell-alert
{
    color: $mainColor;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    background-color: #fff;
    padding: 9px;
    border-radius: 0 15px 0 15px;
}

.tab-content
{
    border: 1px solid #dee2e6;
    border-top: none;
    padding: 15px 15px 0;
}

.nav-tabs
{
    .nav-link
    {
        color: #333;

        &.active
        {
            color: $mainColor;
        }
    }
}

.plans-gallery
{
    .gallery-image
    {
        min-height: 180px;
    }
}

.progress-gallery,
.catalog-gallery
{
    .gallery-image
    {
        min-height: 197px;
    }
}

