@media (min-width: 992px)
{
    .banner
    {
        .feedback-form
        {
            max-width: 285px;
        }
    }
}

@media (min-width: 768px) AND (max-width: 991px)
{
    .banner-form
    {
        .submit-button
        {
            position: absolute;
            bottom: 9px;
            width: calc(100% - 30px);
        }
    }
}

@media (min-width: 768px)
{
    @supports ((position:-webkit-sticky) or (position:sticky))
    {
        .header
        {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1020;
        }
    }

    .feedback-section
    {
        .feedback-form
        {
            max-width: 760px;
        }


        .submit-button
        {
            position: absolute;
            bottom: 9px;
            width: calc(100% - 30px);
        }
    }


    .footer
    {
        .contact-container
        {
            text-align: right;
        }
    }
}

@media (max-width: 1199px)
{
    .banner
    {
        padding: 40px 0;
    }

    .banner-title
    {
        font-size: 45px;
    }

    .banner-subtitle
    {
        font-size: 22px;
    }

    .sell-alert
    {
        font-size: 18px;
    }

    .plans-gallery
    {
        .gallery-image
        {
            min-height: 153px;
        }
    }

    .progress-gallery,
    .catalog-gallery
    {
        .gallery-image
        {
            min-height: 163px;
        }
    }

    .logo-container
    {
        margin-top: 10px;
    }
}

@media (max-width: 991px)
{
    .plans-gallery
    {
        .gallery-image
        {
            min-height: 106px;
        }
    }

    .progress-gallery,
    .catalog-gallery
    {
        .gallery-image
        {
            min-height: 118px;
        }
    }

    .banner
    {
        padding: 25px 0;
    }

    .main-advantages
    {
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .phone-link
    {
        font-size: 20px;
    }

    .address
    {
        font-size: 14px;
    }

    .contact-container
    {
        padding-top: 0;
    }

    .feedback-form
    {
        .subtitle
        {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 767px)
{
    .plans-gallery
    {
        .gallery-image
        {
            min-height: 180px;
        }
    }

    .progress-gallery,
    .catalog-gallery
    {
        .gallery-image
        {
            min-height: 139px;
        }
    }

    .sell-alert {
        font-size: 16px;
    }

    .banner-title
    {
        font-size: 38px;
    }

    .banner-subtitle
    {
        font-size: 20px;
    }

    .advantage-title
    {
        font-size: 18px;
    }

    .main-advantages
    {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .logo-container
    {
        margin-top: 0;
    }

    .header,
    .footer
    {
        text-align: center;
    }

    .address
    {
        margin-right: 0;
        display: block;
    }

    .contact-container
    {
        text-align: center;
    }

    .gallery-item
    {
        margin-bottom: 15px;
    }

    .feedback-form
    {
        max-width: 300px;
    }
}

@media (max-width: 575px)
{
    .progress-gallery,
    .catalog-gallery
    {
        .gallery-image
        {
            min-height: 73px;
        }
    }

    .banner-title
    {
        font-size: 30px;
    }

    .banner-subtitle
    {
        font-size: 18px;
        line-height: 1;
    }

    .list-container
    {
        font-size: 18px;
    }

    .main-advantages
    {
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .sell-alert
    {
        font-size: 12px;
    }

    .image-description {
        min-height: 189px;
    }

    .gallery
    {
        img {
            min-height: 90px;
        }

        img.image-apartment {
            min-height: 103px;
        }
    }

    .section-title
    {
        font-size: 27px;
    }

    .navbar-collapse
    {
        z-index: 1;
        background-color: #ffffff;
        padding-right: 6px;
    }
}

