/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-address {
  background-image: url(../../image/sprite1626692130312.png);
  background-position: -56px 0px;
  width: 25px;
  height: 25px;
}
.icon-marker {
  background-image: url(../../image/sprite1626692130312.png);
  background-position: -50px -39px;
  width: 16px;
  height: 16px;
}
.icon-phone {
  background-image: url(../../image/sprite1626692130312.png);
  background-position: 0px -39px;
  width: 25px;
  height: 25px;
}
.icon-phone2 {
  background-image: url(../../image/sprite1626692130312.png);
  background-position: -25px -39px;
  width: 25px;
  height: 25px;
}
.icon-youtube {
  background-image: url(../../image/sprite1626692130312.png);
  background-position: 0px 0px;
  width: 56px;
  height: 39px;
}
